body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    margin-bottom: 10px;
}

#content {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 400px;
    border-radius: 5px;
}